<h3><%= link_to @post.title, "http://#{@post.link}" %>-(<%= link_to @post.link, "http://#{@post.link}" %>)</h3>
<p>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Delete", post_path(@post), :data => {:confirm => "Are you sure?", :method => 'delete'} %> |
  Comments <%= @post.comments.all.count %> |
  Votes: <%= @post.votes %>
  <%= form_for @post do |f| %> <%= f.hidden_field(:votes, :value => @post.votes + 1) %> <%= f.submit "Vote" %> <% end %>
</p>

<hr>

<p><%= link_to "Add a comment", new_post_comment_path(@post) %></p>


<h3>Comments:</h3>
<% if @post.comments.any? %>
<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <p><%= comment.author %>, <%= comment.created_at %></p>
    <p><%= comment.content %></p>
    <%= link_to "Delete", post_comment_path(@post, comment),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
  </li>
  <% end %>
</ul>
<% else %>
  <p>There are no comments yet!</p>
<% end %>
